## سینتکس پایتون

In [ ]:
print("Hello world")

In [ ]:
print('Hello world')

In [ ]:
print("It's a good day!")

In [ ]:
print('It's a good day!')

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
price = 699

In [ ]:
13iphone = 799

In [ ]:
# This is a comment

In [ ]:
"""
This is also a comment
"""

In [ ]:
my_integer = 3.1428571

In [ ]:
_my_float = 3.1428571

In [ ]:
__my_float__ = 3.1428571

In [ ]:
€value = 42.95

In [ ]:
cost_in_€ = 42.95

In [ ]:
cost_in_dollars = 42.95

In [ ]:
42.95 = cost_in_dollars

In [ ]:
dollar.price = 42.95

In [ ]:
favourite#tag = '#like4like'

In [ ]:
favourite_hashtag = '#일상'

In [ ]:
x = y = z = 1

In [ ]:
a, b, c = 1, 2, 3

In [ ]:
a, b, c = (1, 2, 3)

In [ ]:
i, f, s = 42, 12.94, 'spam'

In [ ]:
from = 'my lover'

In [ ]:
raise = 'your glass'

In [ ]:
pass = 'you shall not'

In [ ]:
fail = 'you will not'

In [ ]:
True = 'not False'

In [ ]:
pay day = 'Thursday'

In [ ]:
NA = 'not applicable'

In [ ]:
a = 42;

In [ ]:
A = 13

## انواع داده

In [ ]:
a, b = 5, 2
result = a / b

In [ ]:
type(a)

In [ ]:
type(result)

In [ ]:
type(99)

In [ ]:
type(99.)

In [ ]:
type(9E9)

In [ ]:
type(3+1j)

In [ ]:
type('It\'s raining cats and dogs today!')

In [ ]:
type(r'Brexit will cost you £8E8. Thank you.')

In [ ]:
type(['this', 'is', 'a', 'vector', 'of', 7, 'values'])

In [ ]:
type([])

In [ ]:
type(4 > 5)

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
type(None)

In [ ]:
type({'this': 'is what is called a', 'dictionary': 'variable!'})

In [ ]:
type(('this', 'is', 'called', 'a', 'tuple'))

In [ ]:
type(())

In [ ]:
type(print)

## تبدیل داده‌ها

In [ ]:
str(45)

In [ ]:
type(str(45))

In [ ]:
str(92.5)

In [ ]:
str(None)

In [ ]:
str(print)

## عملگرها

| Operation      | Symbol |
|----------------|--------|
| Addition       | +      |
| Subtraction    | -      |
| Multiplication | *      |
| Division       | /      |
| Power of       | **     |
| Modulo         | %      |

In [ ]:
print(2 ^ 4)

In [ ]:
print(2 ** 4)

In [ ]:
30 + 12

In [ ]:
43 - 1

In [ ]:
6 * 7

In [ ]:
84 / 2

In [ ]:
84 // 2

In [ ]:
85 // 2

In [ ]:
6 + 6 ** 2

In [ ]:
12 + 5 * 6

In [ ]:
(12 + 5) * 6

In [ ]:
1 + 3 ** 2 * 4 / 2

In [ ]:
1 + 3 ** (2 * 4) / 2

In [ ]:
(1 + 3) ** 2 * 4 / 2

## توابع ریاضی

In [ ]:
round(42.4)

In [ ]:
round(42.6)

In [ ]:
abs(42)

In [ ]:
abs(-42)

In [ ]:
abs(-42)

In [ ]:
help(abs)

## تمرین

1- سمیکالن ; در پایتون چه نقشی دارد؟

In [2]:
# ;

2- ساعت چهار و پنجاه و دو دقیقه برابر است با چند ثانیه؟

In [1]:
# 04:52

3- اگر شما ده کیلومتر را در ۳۵ دقیقه و ۱۲ ثانیه طی کنید، سرعت شما چقدر است؟

In [3]:
# Pace = Time / Distance