## تاپل‌ها

- ordered: items have fixed order
- immutable: itams can not be changed
- heterogeneous: can store different data types
- indexed: items can be accessed by index

In [2]:
numbers = (10, 20, 30, 40)

In [ ]:
print(numbers[1])

In [ ]:
print(numbers[-1])

In [ ]:
print(numbers[1:3])

In [ ]:
t1 = (1, 2)
t2 = (3, 4)

In [ ]:
print(t1 + t2)

In [ ]:
print(t1 * 3)

In [ ]:
print(2 in t1)

In [ ]:
t = (1, 2, 3)
t[0] = 100

In [ ]:
t_list = list(t)
t_list[0] = 100
t = tuple(t_list)
print(t)

In [13]:
t = (1, 2, 3, 2, 4, 2)

In [ ]:
print(t.count(2))

In [ ]:
print(t.index(3))

### Packing

In [17]:
data = ("John", 25, "Engineer")

### Unpacking

In [ ]:
name, age, job = data
print(name)
print(age)
print(job)

In [ ]:
t = (1, 2, 3, 4, 5)
first, *middle, last = t
print(middle)

In [ ]:
def get_min_max(numbers):
    return min(numbers), max(numbers)

print(get_min_max([5, 10, 3, 8]))